th {
	background-color: #04AA6D;
	color: white;
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: left;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:hover {background-color: rgb(175, 170, 147);}
  td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: left;
  }
  table {
	width: 80%;
	border-collapse: collapse;
  }

  div {
	align-self: center;
  }


  .center {
	margin-left: auto;
	margin-right: auto;
  }